<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<h1>Angular</h1>
<courses></courses>
<!--
<authors></authors>
-->

<!--<img []="imageUrl" />
<button (click)="onClick()"></button>
-->


<!--
Will not work as-is in Angular.

<favorite [isFavorite]="post.isFavorite"></favorite>
-->
<!--
<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChange()"></favorite>
-->

<!--
<favorite [is-favorite]="post.isFavorite"></favorite>
-->

<!--
<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>
-->
